---
const {
  title,
  subtitle = '',
  bgColor = 'bg-indigo-700',
  textColor = 'text-white',
  image = ''
} = Astro.props;
---
<section class={`p-12 ${bgColor} ${textColor} text-center`}>
</section>

